#footer {
    background-color:#1d2e63;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

body{
    background-image: url("images/background.jpg");
    
}

table{
    border: 1px;
    background-color: #625e5c
    
}

h1{
    color: #ff6666;
    font-size: 15px
    
    
}

h2{
    text-align:center;
    text-shadow: 2px 1px #ffffcc;
    color: #ff0000;
    font-size: 15px
    
}

h3{
    text-align:center;
    text-shadow: 2px 1px #FF0000;
    color: #ffffcc;
    font-size: 15px
}

h4{
    text-align:center;
    text-shadow: 2px 1px #ffffcc;
    color: #000099;
    font-size: 15px
}

h5{
    text-align:center;
    text-shadow: 2px 1px #ffffff;
    color: #1d2e63;
    font-size: 30px
}


th{
    text-align:center;
    border: 1px;
    color: rgb(255, 255, 255); 
    background-color:#1e3352
}

td{
    color: #ff6666;
    background-color:#d0ccc9;
    border: 1px;
    
}